.gallery-container {
  transition: opacity 400ms ease 5s, transform 400ms ease 0s;
  transform: none;
  opacity: 1;
}

.gallery > span {
  border-radius: 8px;
}

.filter {
  width: 200px;
}

.gallery {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.gallery::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
