/* stylelint-disable no-invalid-position-at-import-rule */
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* fonts */
@import './font.css';

/* components styles */
@import './components/navbar.css';
@import './components/footer.css';
@import './components/wallet.css';

/* pages styles */
@import './pages/home.css';
@import './pages/connection.css';
@import './pages/mint.css';

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.vip {
  height: 500px;
}

.info {
  background-image: url('/images/map-bg.jpg');
}
